html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

#header {
    width: 100%;
    /*background: red;*/
    text-align: center;
}

#container {
    width: 100%;
    /*background: yellow;*/
    height: 100%;
    height: auto !important;
    min-height: 100%;
    padding-bottom: 100px;
    overflow:hidden;
}

#footer {
    clear: both;
    width: 100%;
    background: gray;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 100px;
}

#title {
    color: black;
    font-family: MS ゴシック;
    font-size: 40px;
}

#illumination {
    float: left;
    /*background: green;*/
    width: 50%;
}

.topic_img img{
    width: 100%;
}

#fence {
    float: left;
    /*background: red;*/
    width: 50%;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation:after {
    content: "";
    clear: both;
    display: block;
}
.navigation li {
    float: left;
    width: 25%;
}
.navigation a {
    display: block;
    text-align: center;
    line-height:50px;
    height:50px;
    background:gray;
    color:#fff;
    text-decoration: none;
    border-right:1px solid red;
}
.navigation a:hover {
    background:black;
}
.navigation li:first {
    border-left:1px solid red;
}

.archive {
    float: left;
    width: 50%;
}
.new_info {
    float: left;
    width: 50%;
}

/*固定ページ用の装飾*/
.note {
    position:relative;
    width:480px;
    padding:1em 1.5em;
    margin:2em auto;
    color:black;
    background:#97C02F;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#658E15; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
/* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.note.red {background:#ffff33;}
.note.red:before {border-color:#fff #fff #ffff00 #ffff00; background:#ffff00;}
.note.rounded {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.note.rounded:before {
    border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
    border-color:#fff #fff transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}
